extends layout

block content
	.hero.is-medium.is-info.is-bold
		.hero-head
			nav.navbar.is-transparent(style="min-height: 80px")
				.container
					.navbar-brand
						a.navbar-item(href="/")
							img(src="images/logo-white.svg", style="width: 60px; height: 60px; max-height: 60px;")
							span(style="font-family: Lato; font-weight: 300; font-size: 24px") Moleculer

						.navbar-burger(data-target="navMenu")
							span
							span
							span

					.navbar-menu#navMenu
						.navbar-start
							a.navbar-item(href="https://github.com/icebob/moleculer-sandbox", target="_blank")
								span.icon(style="font-size: 28px")
									i.fa.fa-github

							a.navbar-item(href="https://twitter.com/MoleculerJS", target="_blank")
								span.icon(style="font-size: 28px;")
									i.fa.fa-twitter

						.navbar-end
							.navbar-item
								.field.is-grouped
									p.control
										a.button.is-primary(href="/login") Login
									p.control
										a.button.is-secondary(href="/signup") Sign up

		.hero-body
			.container.has-text-centered
				//figure
					img(src="images/logo.png")

				h1.title(style="font-family: Lato; font-weight: 300; font-size: 3rem") Moleculer Sandbox
				h2.subtitle Sandbox example for Moleculer framework.
				p  

				.field.is-grouped(style="justify-content: center")
					.control
						a.button.is-primary.is-medium(href="/login") Login
					.control
						a.button.is-secondary.is-medium(href="/signup") Sign up
													