extends layout

block content
	.section
		.container(style="max-width: 600px")

			h1.title Login
			form(action='/auth/local', method='post')
				if messages && messages.error && messages.error.length > 0
					.field
						.message.is-danger 
							each error in messages.error
								.message-body
									span.icon
										i.fa.fa-warning
									span=  error								
				if messages && messages.info && messages.info.length > 0
					.field
						.message.is-success 
							each info in messages.info
								.message-body
									span.icon
										i.fa.fa-check
									span=  info
				.field
					label.label(for='email') Username or e-mail:
					input.input(id='email', name='email')

				.field
					label.label(for='password') Password:
					input.input(type='password', id='password', name='password')
					.help If the password is empty, we will send an e-mail with a magic link (passwordless login)

				.field
					button.button.is-primary(type='submit', onclick="this.classList.add('is-loading');") Login

				p Forgot password?
					a(href="/forgot")  Reset it!

				hr
				.field.is-grouped
					if socialProviders.indexOf("google") !== -1
						.control
							a.button.is-secondary(href='/auth/google') 
								span.icon
									i.fa.fa-google
								span Login with Google
					if socialProviders.indexOf("facebook") !== -1
						.control
							a.button.is-secondary(href='/auth/facebook')
								span.icon
									i.fa.fa-facebook
								span Login with Facebook
					if socialProviders.indexOf("github") !== -1
						.control
							a.button.is-secondary(href='/auth/github')
								span.icon
									i.fa.fa-github
								span Login with Github
					if socialProviders.indexOf("twitter") !== -1
						.control
							a.button.is-secondary(href='/auth/twitter')
								span.icon
									i.fa.fa-twitter
								span Login with Twitter
				
				hr
				p Don't have an account? 
					a(href="/signup") Sign up!
