extends layout

block content
	.section
		.container

			h1.title Login
			form(action='/auth/local', method='post')
				.field
					label.label(for='username') Username:
					input.input(id='username', name='username')

				.field
					label.label(for='password') Password:
					input.input(type='password', id='password', name='password')

				.field
					button.button.is-primary(type='submit') Login

				.field.is-grouped
					if providers.indexOf("google") !== -1
						.control
							a.button.is-secondary(href='/auth/google') 
								span.icon
									i.fa.fa-google
								span Login with Google
					if providers.indexOf("facebook") !== -1
						.control
							a.button.is-secondary(href='/auth/facebook')
								span.icon
									i.fa.fa-facebook
								span Login with Facebook
					if providers.indexOf("github") !== -1
						.control
							a.button.is-secondary(href='/auth/github')
								span.icon
									i.fa.fa-github
								span Login with Github
					if providers.indexOf("twitter") !== -1
						.control
							a.button.is-secondary(href='/auth/twitter')
								span.icon
									i.fa.fa-twitter
								span Login with Twitter
				