extends layout

block content

	h1 Login
	form(action='/auth/local', method='post')
		p
			label(for='username') Username:
			br
			input(name='username')
		p
			label(for='username') Password:
			br
			input(type='password', name='password')
		p
			input(type='submit')
		p
			if providers.indexOf("google") !== -1
				a(href='/auth/google') Login with Google
				br
			if providers.indexOf("facebook") !== -1
				a(href='/auth/facebook') Login with Facebook
				br
			if providers.indexOf("github") !== -1
				a(href='/auth/github') Login with Github
				br
			if providers.indexOf("twitter") !== -1
				a(href='/auth/twitter') Login with Twitter
				br
