extends layout

block content
	.section
		.container

			h1.title Sign Up
			form(action='/auth/local', method='post')
				.field
					label.label(for='email') E-mail:
					input.input(id='email')

				.field
					label.label(for='username') Username:
					input.input(id='username')

				.field
					label.label(for='password') Password:
					input.input(type='password', id='password')

				.field
					label.label(for='password2') Confirm password:
					input.input(type='password', id='password2')

				.field
					button.button.is-primary(type='submit') Sign up

				.field.is-grouped
					if providers.indexOf("google") !== -1
						.control
							a.button.is-secondary(href='/auth/google') 
								span.icon
									i.fa.fa-google
								span Sign up with Google
					if providers.indexOf("facebook") !== -1
						.control
							a.button.is-secondary(href='/auth/facebook')
								span.icon
									i.fa.fa-facebook
								span Sign up with Facebook
					if providers.indexOf("github") !== -1
						.control
							a.button.is-secondary(href='/auth/github')
								span.icon
									i.fa.fa-github
								span Sign up with Github
					if providers.indexOf("twitter") !== -1
						.control
							a.button.is-secondary(href='/auth/twitter')
								span.icon
									i.fa.fa-twitter
								span Sign up with Twitter
				